<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>accountFilter</filter-name>
        <filter-class>com.projet.filters.accountFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>accountFilter</filter-name>
        <url-pattern>/account</url-pattern>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/planning</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.projets.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AllReservationServlet</servlet-name>
        <servlet-class>com.projets.servlets.AllReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllReservationServlet</servlet-name>
        <url-pattern>/planning</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GererReservation</servlet-name>
        <servlet-class>com.projets.servlets.GererReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GererReservation</servlet-name>
        <url-pattern>/gestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValiderReservation</servlet-name>
        <servlet-class>com.projets.servlets.ValiderReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValiderReservation</servlet-name>
        <url-pattern>/dashboard/valider</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RefuserReservation</servlet-name>
        <servlet-class>com.projets.servlets.RefuserReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefuserReservation</servlet-name>
        <url-pattern>/dashboard/refuser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyReservationServlet</servlet-name>
        <servlet-class>com.projets.servlets.MyReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyReservationServlet</servlet-name>
        <url-pattern>/Myreservations</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.projets.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SalleServlet</servlet-name>
        <servlet-class>com.projets.servlets.SalleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalleServlet</servlet-name>
        <url-pattern>/salles</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.projets.servlets.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>com.projets.servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>com.projets.servlets.Deconnexion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
